Interconnection And Interworking.Service/Connected Services/HIP/HPBSApp.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:s0="urn:hl7-org:v3" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:hl7-org:v3" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema targetNamespace="urn:hl7-org:v3">
      <s:element name="HIPMessageServer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="action" type="s:string" />
            <s:element minOccurs="0" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HIPMessageServerResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="HIPMessageServerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HIPMessageServerSoapIn">
    <wsdl:part name="parameters" element="s0:HIPMessageServer" />
  </wsdl:message>
  <wsdl:message name="HIPMessageServerSoapOut">
    <wsdl:part name="parameters" element="s0:HIPMessageServerResponse" />
  </wsdl:message>
  <wsdl:portType name="HIPServiceSoap">
    <wsdl:operation name="HIPMessageServer">
      <wsdl:input message="s0:HIPMessageServerSoapIn" />
      <wsdl:output message="s0:HIPMessageServerSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HIPServiceSoap12" type="s0:HIPServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HIPMessageServer">
      <soap12:operation soapAction="urn:hl7-org:v3/HPBSApp.BS.HIPMessageServer.HIPMessageServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HIPService">
    <wsdl:port name="HIPServiceSoap12" binding="s0:HIPServiceSoap12">
      <soap12:address location="http://192.168.5.168:57772/csp/htp/HPBSApp.BS.HIPMessageServer.cls" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>